<br>
<div class="well well-lg">
	<h1 align = "center">Acerca de innova</h1>
	<p><em>Somos una organizacion destina al apoyo de jovenes emprendedores, creamos los medios para poder promocionar sus ideas y apoyar economicamente el inicio de algunas.</em></p>
	<h1 align = "left">Nuestra Mision</h1> 
	<p><em>Apoyar el nacimiento de empresas apoyando a la creacion de las mismas con potencial a convertirse en grandes empresas con productos innovadores.</em></p>
	<a href="/" ><button>Atras</button></a>
</div>