<div class="well well-lg">
	<h1 align = "center">Contactanos</h1>
	<h1>Innova</h1>
	<p class="lead"><em>Para mayor Información podrías:</em>
		<br>
              <em>Llamarnos al teléfono fijo: 2 2406957</em>
              <br>
    <em>o al Teléfono Celular: 60542227</em>
    <br>
    <em>Enviar Correo: info@innovabolivia.bo – info@fundacionmaya.bo</em>
    <br>
    <em>Visitamos en nuestro canal de Youtube, Facebook y Twitter</em>
    <br>
    <em>Visitarnos personalmente: C.Socabaya Edif.Handal Piso 10 Of. 1002, La Paz</em></p>
	<a href="/" ><button>Atras</button></a>

</div>