
<center><h1><b> Eventos Y Concursos </b></h1></center>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><b> Eventos Y Concursos</b></h3>
  </div>


  <table class="table table-striped"><thead>
      <tr class="info">
        <th>Fecha</th>
        <th>Hora</th>
        <th>Descripcion</th>
        <th>Nombre</th>
        
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>

  <br>
  <br>
  <br>
</div>
<br>
<br>
